<!--
<form style="margin: 0px; width: 100% !important;" #loginForm="ngForm" (ngSubmit)="login(loginForm)"
    class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>

    <div class="form-label-group">
        <input type="text" #userName="ngModel" [(ngModel)]="model.userName" id="userName" name="userName"
            class="form-control" placeholder="Kullanıcı adı" required autofocus>
        <label for="inputEmail">Kullanıcı adı</label>
    </div>

    <div class="form-label-group">
        <input type="password" #password="ngModel" [(ngModel)]="model.password" id="password" name="password"
            class="form-control-sm" placeholder="Şifre" required>
        <label for="inputPassword">Password</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>-->

<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="main">
        <div class="signup">     
                <label>Login</label>
                <input type="text" #userName="ngModel" [(ngModel)]="model.userName" id="userName" name="userName" placeholder="Kullanıcı adı" required autofocus>
                <input type="password" #password="ngModel" [(ngModel)]="model.password" id="password" name="password"  placeholder="Şifre" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </div> 
</form>
